@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-body: 'Inter', sans-serif;
  --ff-heading: 'DM Serif Display', serif;
}

body {
  margin: 0;
  font-family: var(--ff-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.category:hover div {
  background-color: #243016;
  /* background-color: #E6AF2E; */
  /* background-color: #EFCB68; */
  /* background-color: #FED766; */
  /* background-color: #E6AF2E; */
  transition: all 300ms;
}
